/* Feature Colors*/
$color-primary: #000010;
$color-secondary: #ccc67c;
$color-tertiary: #809eb1;
$color-quaternary: #ead2e0;
$color-quinary: #d6abbd;

/*Standard Colors*/
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #393939;
$color-alt-white: #f2f3f4;
$color-text-linen: #eee9e1;

/*Text Standard Colors*/
$color-text-black: #080808;
$color-text-grey: #202020;
$color-text-white: #fdfdfd;

/*Alternative Standard Text Colors*/
$color-jet-black: #020202;
$color-gun-metal-grey: #323333;
$color-clerical: #141414;

$color-button-orange: #bf4518;

/* 5 Shades of Grey Colors*/
$color-footer-grey: #7c9496;
$color-footer-grey-2: #89817c;
$color-footer-grey-medium: #b0bfc0;
$color-footer-grey-light: #dae0e1;
$color-arrow-bgGrey: #5c5e6199;