@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../base/mixins' as m;

.feature_container {
  background-color: c.$color-black;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(15rem, 1fr));
  
  grid-gap: 6rem;
  align-items: start;
  justify-items: center;
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}











