@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;

/*Checked OK*/
.sidebar {
  position: relative;
  grid-column: 1/2;
  grid-row-start: 1;
  grid-row-end: -1;
  background-color: c.$color-secondary;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 8rem;
}

/*Checked OK*/
.sidebar-border {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 8rem;
  border: solid 3.5px c.$color-primary;
  outline:2px solid c.$color-primary;
  outline-offset: -8px;
  padding: 1rem;
  margin: 0;
}


/*Checked HAPPY With this HAMBURGER code*/
.hamburger-menu {
  width: 55px;
  height: 55px;
  background-color: c.$color-primary;
  position: fixed;
  top: 2.5rem;
  left: 1.4rem;
  outline: 2px solid c.$color-secondary;
  outline-offset: -5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  
}

.change .hamburger-menu {
  background-color: c.$color-primary;
  left: 1.55rem;
  z-index: 1000;
}

.line {
  width: 30px;
  height: 2px;
  background-color: c.$color-secondary;
  margin: 2px 0;
  transform-origin: right;
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotate(-40deg) translateY(-5px);
  background-color: c.$color-secondary;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(40deg) translateY(5px);
  background-color: c.$color-secondary;
}
/*Checked HAPPY With this HAMBURGER code*/

/*Navbar Contents incl Links Position Animation and Styles*/
.navbar {
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  grid-template-rows: repeat(6, minmax(1.8rem, min-content));
  height: 100vh;
  
}

.nav-content {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  grid-template-rows: repeat(6, minmax(1.8rem, min-content));
  background-color: c.$color-secondary;
  position: fixed;
  top: 35px;
  left: -16rem;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.8s ease-in-out;
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
}

.change .nav-content {
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-template-rows: repeat(6, minmax(1.8rem, min-content));
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 13vw;
  position: absolute;
  left: 0;
  border: solid 3.5px c.$color-primary;
  outline: 2px solid c.$color-primary;
  outline-offset: -10px;
  padding: 1rem;
  margin: 0;
  z-index: 100;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem 1rem 1rem 0;
  min-width: min-content;
  position: absolute;
  top: 15rem;
  height: 45vh;
  margin: 10% 30% auto 20%;
  
  text-align: left;
  list-style: none;
  z-index: 10400;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
}

.change .nav-list {
  opacity: 9;
  visibility: visible;
}

.nav-list-container li  a{
  color: c.$color-primary;
  font-family: f.$font-primary;
  font-size: f.$font-size-large * 1.2;
  font-weight: f.$font-weight-normal-plus;
  letter-spacing: 3px;
  list-style: none;
  text-decoration: none;
}

/*Animated Nav List Buttons*/

/*
.second-nav {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
    border-top: .1rem solid #12376e;
    border-bottom: .1rem solid #12376e;
}

.second-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
}

.second-nav-link {
    text-align: center;
    display: grid;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    color: #12376e;
    padding: .8rem 0;
    transition: all .5s .3s;
}

.second-nav-item:hover .second-nav-link {
    background-color: #12376e;
    color: #fff;
}

.second-nav-link::before,
.second-nav-link::after {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #12376e;
    display: block;
    transition: width .3s cubic-bezier(.55, 0, .98, .54), background-color .5s .3s;
}

.second-nav-link::after {
    justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
    width: 100%;
    background-color: #fff;
}

.second-nav-item:first-child {
    position: relative;
}
*/

